body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.card {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p{
    color: #929292;
}
.counter {
    margin-top: 2em;
}

#count {
    font-size: 5em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

button {
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    flex: 1;
}

#reset {
    width: calc(100% - 1em);
    background-color: #ff4545;
    color: azure;
}

button:hover {
    background-color: #eee;
}

@media (max-width: 600px) {
    .card {
        padding: 1.5em 1em;
    }

    h1 {
        font-size: 1.7em;
    }

    #count {
        font-size: 4.5em;
    }

    button {
        font-size: 1.3em;
        padding: 0.8em 1em;
    }
}