body {
  background-size: cover;
  font-family:Georgia, 'Times New Roman', Times, serif "Segoe UI";
  font-weight: bold;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  max-width: 80%;
  margin: auto;
  border: 3px solid rgb(53, 174, 255);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: 1px solid rgb(73, 73, 73);
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: rgb(252, 51, 51);
}

#save-btn {
  background: rgb(15, 195, 240);
}

p {
  font-size: 14px;
  color: rgb(73, 73, 73);
}

@media (max-width: 600px) {
  .container {
    max-width: 95%;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  button {
    width: 150px;
  }
}
